
/* ----------------------------------------------
   slideout.js
   ----------------------------------------------*/


/* opaque content
   ----------------------------------------------*/
.slideout-menu {
}
.slideout-panel {
  background-color: white;
}

/* for full-height content
   ----------------------------------------------*/
body {
	position: absolute;
}

/* ids required by slideout.js
   ----------------------------------------------*/
#panel {
}
#menu {
}

























