
/* The panel and menu ids are required by slidout.js */

#panel {
	min-height: 100%;
	padding: 1em;
	-webkit-box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);
	-khtml-box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);
	-moz-box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);
	-ms-box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);
	-o-box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);
	box-shadow:-10px 0px 16px rgba(4, 4, 4, 0.3);	
}
#menu {
	background-color: #555;																						
}

#menu nav > ul {
	list-style: none;
}

#menu nav > ul li {
	color: #eee;
	padding: 0.5em 1em 0.5em 1em;
	font-size: 14pt;
	cursor: pointer;
}

#menu nav > ul li:hover {
	color: #fff;
	background-color: #666;
}
